* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: pink;
}

.display-container {
    height: 140px;
    border: 2px solid black;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.display1 {
    width: 100%;
    height: 50%;
    text-align: end;
    padding: 35px 20px 0 0;
    font-size: 20px;
    overflow: auto;
}

.display2 {
    width: 100%;
    height: 50%;
    text-align: end;
    padding: 10px 20px 0 0;
    font-size: 40px;
    overflow: auto;
}

button {
    display: block;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 400;
}

.main-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    max-width: 400px;
    height: 550px;
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    box-shadow: 5px 5px 5px black;
}

.clear-section {
    display: flex;
    min-height: 80px;
}

.clear-section button {
    flex: 1;
    min-height: 50px;
    margin: 0 10px 10px;
}

.keys-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center;
    padding-bottom: 10px;
}

.keys-container button {
    width: 22%;
}

a:hover {
    text-decoration: none;
    background-color: #cdfeaa;
}

a:link,
a:visited {
    color: blue;
}